body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 218, 145);
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
}

 #titulo{
letter-spacing: 3px;
font-weight: 600;
color:aliceblue;
}

.canvas {
    margin-bottom: 50px;
}